<html>
 <head>
  <title>Add a new drug</title>
 </head>
 <body>
  #if ($error)
    <span style="color:red">$error</span>
  #end
  #if ($success)
    <span style="color:green">$success</span>
  #end
  <form method="POST">
   Name: <input type="text" name="name"/><br/>
   Search for this drug from these sources:<br/>
   <input type="checkbox" name="spam"/>Spam<br/>
   <input type="checkbox" name="twitter"/>Twitter<br/>
   <input type="checkbox" name="facebook"/>Facebook<br/>
   <input type="checkbox" name="domain"/>New Domains<br/>
   <input type="checkbox" name="indexedWeb"/>Indexed Web<br/>
   Manufacturer: <select name="manufacturerId">
  #foreach( $manuf in $manufacturers )
    <option value="$manuf.id"#if($manuf.name == "UltramegaOK") selected #end>$manuf.name</option>
  #end
  </select>
  <input type="Submit" value="Save"/>
  </form>
 </body>
</html>